@model IEnumerable<Day2MVC.Models.ZipToCity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip.ZipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip.ZipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZTCId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZTCId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZTCId })
        </td>
    </tr>
}

</table>
